<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.dao.CustomerMapper">
	<select id="selectCustomer" resultType="com.mybatis.dto.CustomerDTO" >
		select cus_id as cusId,phone, password, card_name as cardName from
		dr_customer where cus_id = #{cusId}
	</select>
</mapper>